/* @font-face {
    font-family: 'OswaldRegular';
    src: url('../img/Oswald-Regular.eot');
    src: url('../img/Oswald-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RedXrd';
    src: url('../img/1_class_3_RED.ttf');
    src: url('../img/1_class_3_RED.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
    font-family: 'Bebas';
    src: url('./bebasneue.woff') format('woff');
    src: url('./bebasneue.woff2') format('woff2');
    src: url('./bebasneue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    overflow: hidden;
    font-family: 'Bebas', helvetica, arial;
    font-size: 170%;
    margin: 0;
    padding: 0;
}

#window-container {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
}

#player1 {
    float: left;
    height: 70px;
    width: 415px;
    margin-left: 330px;
    margin-top: -1px;

}
#player2 {
    float: right;
    height: 70px;
    width: 415px;
    margin-right: 330px;
    margin-top: -1px;
}

#player1 .playerContainer { 
    background: url("./player1bgnew.png");
    background-size: cover;
    float: left;
}

#player2 .playerContainer {
    background: url("./player2bgnew.png");
    background-size: cover;
    float: right;
}

.playerContainer {
    align-items: center;
    height: 100%;
    width: 100%;
    color: #fff;
    overflow: hidden;
    position: relative;
}

#midbar {
    background: url("./midbar.png");
    background-size: cover;
    position: relative;
    height: 153px;
    width: 476px;
    margin: auto;
    z-index: 1;
    text-align: center;
}

#tournamentRound {
    padding-top: 93px;
    font-variant: small-caps;
}

#player1Spinner {
    position: absolute;
    background: url("./spinner.png");
    background-size: cover;
    top: -29px;
    left: 316px;
    width: 88px;
    height: 88px;
    zoom: 1;
}

#player2Spinner {
    position: absolute;
    background: url("./spinner.png");
    background-size: cover;
    top: -29px;
    right: 316px;
    width: 88px;
    height: 88px;
    zoom: 1;
}

#player1Name {
    text-align: left;
    float: left;
    position: relative;
    padding: 20px 0 0 53px;
}

#player2Name {
    float: right;
    text-align: right;
    position: relative;
    padding: 20px 53px 0 0;
}

#player1Score {
    float: right;
    text-align: right;
    color: #000;
    text-shadow: 0 0 20px #ffffff;
    padding: 18px 75px 0 0;
    visibility: hidden;
}

#player2Score {
    float: right;
    text-align: left;
    color: #000;
    text-shadow: 0 0 20px #ffffff;
    padding: 18px 75px 0 0;
    visibility: hidden;
}

.flag {
    float: right;
    height: 32px;
    width: 32px;
    background: #f00;
    margin: 18px 38px 0 0;
}

.rotatingCW {
    transform:rotate(720deg);
    transition: all 1.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.rotatingCCW {
    transform:rotate(-720deg);
    transition: all 1.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.backToZero {
    transform:rotate(720deg);
    transition: all 1.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}